# list

#can hold different data types

In [34]:
lst=['alekhya',22,422,1213,['a',1,4,22]]

In [35]:
lst.reverse()  #reverses the contents of list

In [36]:
lst

[['a', 1, 4, 22], 1213, 422, 22, 'alekhya']

In [37]:
lst.index(22)  #gives the index of the particular value

3

In [18]:
lst1=[1,66,333,0]

In [22]:
lst1.sort()  #default sorts in ascending order

In [23]:
lst1

[0, 1, 66, 333]

In [38]:
lst.pop(1) #has removed the index 1 value from list

1213

In [39]:
lst

[['a', 1, 4, 22], 422, 22, 'alekhya']

In [40]:
lst.remove(22)  # removes the value from list

In [41]:
lst

[['a', 1, 4, 22], 422, 'alekhya']

# dictionaries

#holds unoredered,not immutable

In [8]:
dit={"name":"Alekhya","course":"LetsUpgrade-python","instructor":"SaiKiran"}

In [9]:
dit.items()   #gives a list of items

dict_items([('name', 'Alekhya'), ('course', 'LetsUpgrade-python'), ('instructor', 'SaiKiran')])

In [11]:
dit.get('course')   #gets the value to the key

'LetsUpgrade-python'

In [13]:
dit.keys()    #gets the keys

dict_keys(['name', 'course', 'instructor'])

In [14]:
dit.values()    #gives the values

dict_values(['Alekhya', 'LetsUpgrade-python', 'SaiKiran'])

In [15]:
dit.popitem()

('instructor', 'SaiKiran')

In [16]:
dit

{'name': 'Alekhya', 'course': 'LetsUpgrade-python'}

# sets


#collection of items not in a particular order

In [36]:
st={"mon","tues","wed",1,222,222,33,33,33,33,33,11,11,"mon"}
st1={"hello","wed",222,3}

In [37]:
st.difference()

{1, 11, 222, 33, 'mon', 'tues', 'wed'}

In [38]:
st

{1, 11, 222, 33, 'mon', 'tues', 'wed'}

In [39]:
st.discard(1)

In [40]:
st

{11, 222, 33, 'mon', 'tues', 'wed'}

In [41]:
st.intersection(st1)

{222, 'wed'}

In [44]:
st.intersection_update()

In [46]:
st

{11, 222, 33, 'mon', 'tues', 'wed'}

In [47]:
st.union(st1)

{11, 222, 3, 33, 'hello', 'mon', 'tues', 'wed'}

# Tuple

#can store ordered immutable sequence of objects

In [48]:
tup=("allu","hi",1,1,22)

In [50]:
tup.count('hi')

1

In [51]:
tup.index(1)

2

# String

In [52]:
str=("helloooo")

In [54]:
str.count(str)

1

In [56]:
str.endswith('k')

False

In [57]:
str.find('o')

4

In [58]:
str.isupper()

False

In [59]:
str.upper()

'HELLOOOO'